<div class=" card-content">
    <div class="card text-white bg-secondary mb-3 cardG p-4" style="max-width: 18rem;" (click)="goToInformeUno()">
        <div class="card-header">
            <h4>Informe 1</h4>
        </div>
        <div class="card-body">
            <p class="card-text">Aquí puedes ver las paradas de un autobús y el tiempo que le toma en desplazarse. </p>
        </div>
    </div>

    <div class="card text-white bg-secondary mb-3 cardG p-4" style="max-width: 18rem;" (click)="goToInformeDos()">
        <div class="card-header">
            <h4>Informe 2</h4>
        </div>
        <div class="card-body">

            <p class="card-text">Aquí puedes ver las distancias que recorre un autobús. </p>
        </div>
    </div>
</div>